{% extends "base.html" %}

{% block content %}
<a class="btn btn-primary" style="background-color: black; color: white; border-color: black;" href="/account">Cancel</a>
<br><br>
<div style="padding-left: 10px; padding-right: 10px; padding-bottom: 20px">
    <div id="edit-form">
        <h3>Edit Your Password</h3>
        <form action="{{ url_for('account.change_password') }}" method="POST">
            {{ form.hidden_tag() }}
            <p>
                {{ form.password.label }}<br/>
                {{ form.password(size=32) }}<br/>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password2.label }}<br/>
                {{ form.password2(size=32) }}<br/>
                {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.submit() }}
            </p>
        </form>
    </div>
</div>


{% endblock %}
