{% extends "base.html" %}

{% block content %}

<div style="padding-left: 10px; padding-right: 10px; padding-bottom: 20px">
  <form action="{{ url_for('index.index')}}" method="GET">
    <button type="submit" style="background-color: black; color: white; cursor: pointer; 
    border-radius: 30px; padding: 5px 10px;">Back to Shopping</button>
  </form>
  <br> 
  {% if current_user.is_authenticated %}
    <div class="shopping cart">
      <h2>Shopping Cart:</h2>
      {% for product in cart_items%}
        <hr style="border-top: 2px solid black;">
        <div class="d-flex" style="gap: 20px;">

          <!-- product image -->
          <div class="picture">
            <img src="{{ url_for('static', filename='images/' + product.image) }}" alt="{{product.name}} Image" width="200" height="200" style="object-fit: contain;">
          </div>

          <!-- product description -->
          <div class="product_description">
            <a href="{{ url_for('productView.productView', pid=product.pid) }}">{{product.p_name}}</a> <br />
            
            {% if product.cart_unit_price != product.inv_unit_price %}
              <span style="display: inline-block;">
                <span style="text-decoration: line-through;">${{'%0.2f'|format(product.cart_unit_price|float)}}</span>
                <span style="color: red;"><strong>${{'%0.2f'|format(product.inv_unit_price|float)}}</strong></span>
              </span> <br />
            {% else %}
              <span><strong>${{'%0.2f'|format(product.cart_unit_price|float)}}</strong></span> <br />
            {% endif %}
            
            Seller: 
            <a href="{{url_for('reviews.reviews', uid=product.seller_id)}}">
              {{product.firstname}} {{product.lastname}}
            </a>
            <br><br>

            Available quantity: <span style="color: {{ 'red' if product.max_quantity == 0 else 'black' }}">{{product.max_quantity}}</span> <br />
            <!-- actions-->
            <div class="d-flex" style="gap: 20px; align-items: center;">

              <!-- adjust quantity -->
              <div class="adjust_quantity">
                <form action="{{ url_for('cart.cart_update_quantity', pid=product.pid, seller_id=product.seller_id)}}" method="POST">
                  <label for="quantity">Quantity:</label>
                  <input type="number" id="q" name="quantity" min="0" max="{{ product.max_quantity }}" value="{{ product.quantity }}" style="width: 50px;" required>
                  <button type="submit" style="background-color: black; color: white; cursor: pointer; 
                  border-radius: 30px; padding: 5px 10px;">Update</button>
                </form>
              </div>

              <!-- delete product -->
              <form action="{{ url_for('cart.cart_delete', pid=product.pid, seller_id=product.seller_id, saved_for_later=False)}}" method="POST">
                <button type="submit" style="background-color: transparent; color: blue; border: none; padding: 0; text-decoration: underline; cursor: pointer;">Delete</button>
              </form>

              <!-- save for later -->
              <form action="{{ url_for('cart.cart_save_for_later', pid=product.pid, seller_id=product.seller_id)}}" method="POST">
                <button type="submit" style="background-color: transparent; color: blue; border: none; padding: 0; text-decoration: underline; cursor: pointer;">Save for Later</button>
              </form>

              <!-- share -->
              <div class="share">
                <button type="button" style="background-color: transparent; color: blue; border: none; padding: 0; text-decoration: underline; cursor: pointer;" onclick="showModal('{{product.pid}}')">Share</button>
              </div>

              <!-- share modal -->
              <div id="shareModal_{{product.pid}}" class="modal">
                <div class="modal-content">
                  <span class="close" onclick="closeModal('{{product.pid}}')">&times;</span>
                  <br>
                  <p>Share this product with your friends!</p>
                  <div class="d-flex" style="gap: 20px;">
                    <div class="facebook">
                      <a href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8080{{url_for('productView.productView', pid=product.pid)}}" target="_blank"><i class="fa fa-facebook big"></i></a>
                    </div>
                    <div class="twitter">
                      <a href="https://twitter.com/intent/tweet?text=Check%20out%20this%20product%20on%20Mini-Amazon!%20http://127.0.0.1:8080{{url_for('productView.productView', pid=product.pid)}}" target="_blank"><i class="fa fa-twitter big"></i></a>
                    </div>
                    <div class="email">
                      <a href="mailto:?subject=Check%20out%20this%20product%20on%20Mini-Amazon!&body=http://127.0.0.1:8080{{url_for('productView.productView', pid=product.pid)}}" target="_blank"><i class="fa fa-envelope big"></i></a>
                    </div>
                    <div class="link" style="margin-top: -8px;">
                      <input id="link_{{product.pid}}" type="text" value="http://127.0.0.1:8080{{url_for('productView.productView', pid=product.pid)}}" id="link" style="width: 300px" readonly>
                      <button style="background-color: black; color: white; cursor: pointer; border-radius: 30px; padding: 5px 10px;" onclick="copyLink('{{product.pid}}')">Copy Link</button>
                    </div>
                  </div>
                </div>
              </div>

              <script>
                function showModal(pid) {
                  document.getElementById("shareModal_" + pid).style.display = "block";
                }

                function closeModal(pid){
                  document.getElementById("shareModal_" + pid).style.display = "none";
                }

                function copyLink(pid) {
                  var copyText = document.getElementById("link_" + pid);
                  copyText.select();
                  copyText.setSelectionRange(0, 99999)
                  document.execCommand("copy");    
                }
              </script>


            </div>
          </div>

        </div>
      {% endfor %}

      <hr style="border-top: 2px solid black;">
      
      <!-- Pagination controls -->
      <div style="display: flex; justify-content: center;">
        <div id="pagination-container">
          {{ cart_pagination.links}}
        </div>
      </div>


      <!-- subtotal  -->
      <br>
      <h5 ALIGN='right'><strong>Subtotal: ${{'%0.2f'|format(subtotal)}}</strong></h5>

      <!-- submit order -->
      <br>
      <form style="text-align: right;" action="{{ url_for('cart.cart_place_order')}}" method="POST">
          <input type="submit" value="Submit Order" style="background-color: black; color: white; cursor: pointer; 
          border-radius: 30px; padding: 5px 10px;"/>
      </form>
    </div>

    <br><br>

    <div class = "saved">
      <h2>Saved For Later:</h2>
      <hr style="border-top: 2px solid black;">
      <div class="card-container">
        {% for product in saved_items%}
          <div class="d-flex card" style="gap: 20px;">

            <!-- product image -->
            <div class="picture">
              <img src="{{ url_for('static', filename='images/' + product.image) }}" alt="{{product.name}} Image" width="200" height="200" style="object-fit: contain;">
            </div>

            <!-- product description -->
            <div class="product_description">
              <a class="name" href="{{ url_for('productView.productView', pid=product.pid) }}">{{product.p_name}}</a> <br />
              
              {% if product.cart_unit_price != product.inv_unit_price %}
                <span style="display: inline-block;">
                  <span style="text-decoration: line-through;">${{'%0.2f'|format(product.cart_unit_price|float)}}</span>
                  <span style="color: red;"><strong>${{'%0.2f'|format(product.inv_unit_price|float)}}</strong></span>
                </span> <br />
              {% else %}
                <span><strong>${{'%0.2f'|format(product.cart_unit_price|float)}}</strong></span> <br />
              {% endif %}
              
              Seller: 
              <a href="{{url_for('reviews.reviews', uid=product.seller_id)}}">
                {{product.firstname}} {{product.lastname}}
              </a>
              <br><br>

              Available quantity: <span style="color: {{ 'red' if product.max_quantity == 0 else 'black' }}">{{product.max_quantity}}</span> <br />
              Quantity: {{product.quantity}} <br />
              <!-- actions-->
              <div class="d-flex justify-content-center" style="gap: 20px; align-items: center;">

                <!-- delete product -->
                <form action="{{ url_for('cart.cart_delete', pid=product.pid, seller_id=product.seller_id, saved_for_later=True)}}" method="POST">
                  <button type="submit" style="background-color: transparent; color: blue; border: none; padding: 0; text-decoration: underline; cursor: pointer;">Delete</button>
                </form>

                <!-- move to cart -->
                <form action="{{ url_for('cart.cart_move_to_cart', pid=product.pid, seller_id=product.seller_id)}}" method="POST">
                  <button type="submit" style="background-color: transparent; color: blue; border: none; padding: 0; text-decoration: underline; cursor: pointer;">Move to Cart</button>
                </form>
              </div>
            </div>

          </div>
        {% endfor %}
      </div>
      

      <hr style="border-top: 2px solid black;">

      <!-- Pagination controls -->
      <div style="display: flex; justify-content: center;">
        <div id="pagination-container">
          {{ saved_pagination.links}}
        </div>
      </div>

    </div>

    <!-- styling -->
    <style>
      #pagination-container .pagination .active .page-link {
        background-color: #f0f8ff;
        color: black; /* Change the text color to white for better contrast */
      }
      #pagination-container .pagination .page-link {
        color: black; /* Change the text color to white for better contrast */
      }
      .card-container {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        gap: 10px;
        justify-content: flex-start; /* Change to flex-start */
        max-width: 1500px; /* Add this line */
      }

      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 350px;
        margin: 10px;
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;
        word-wrap: break-word;
        flex-direction: column;
        justify-content: space-between;
        font-family: arial;
        min-height: 350px;
      }
      .name {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        padding: 0 10px;
        margin-bottom: 30px;
      }

      
      .modal-content {
        background-color: white;
        width: 700px;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        margin: auto; /* Center the modal horizontally and vertically */
        margin-top: 100px;
      }
      
      .big {
          font-size: 24px;
      }
      
    </style>

   

  {% else %}
  
    <!-- if not logged in, ask user to log in -->
    <p><a href="{{ url_for('users.login') }}">Log in</a> to see your cart!</p>
  {% endif %}
</div>

{% endblock %}